<div class="list-group">
  <%= link_to 'グラフ', '/tmpr_logs/graph', class: "list-group-item" %>
  <%= link_to '通知先アドレス', '/addresses', class: "list-group-item" %>
  <%= link_to '設定', '/settings', class: "list-group-item" %>
</div>
