<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263358122180-tvmti61qoc416g0vtd0pnp4q0r77ck5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263358122180-tvmti61qoc416g0vtd0pnp4q0r77ck5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ7j134W3sLL4A1qKHrx-nf4VZ0H0b4m8</string>
	<key>GCM_SENDER_ID</key>
	<string>263358122180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.lmlab.jidori</string>
	<key>PROJECT_ID</key>
	<string>jidori</string>
	<key>STORAGE_BUCKET</key>
	<string>jidori.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263358122180:ios:a7359da293f0ef17b62191</string>
	<key>DATABASE_URL</key>
	<string>https://jidori.firebaseio.com</string>
</dict>
</plist>