a.navbar-brand{
  font-family: 'Copperplate';
  font-size: 32px;
}

footer{
  margin-top: 20px;
  padding: 20px 0 20px 0;
  background-color: #F4F5E7;
}

table.device1, table.device2, table.device3{
  margin-bottom: 0;
}

table.device1 th{
  font-weight: normal;
  font-size: smaller;
}

table.device3 th,table.device3 td{
  font-weight: normal;
  font-size: 9px;
  color: #777;
  //white-space: nowrap;
}

p{
  font-size: medium;
}
