.root1{
  background-image: image-url('sensor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  text-align: center;
  font-size: 16px;
  padding-top: 200px;
}

.root2{
  background-color: #93B793;
}

.root3{
  background-image: image-url('mukoyama.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
}
