.root1{
  background-image: image-url('sensor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  text-align: center;
  font-size: 16px;
  padding-top: 200px;
}

.root1 h1{
  font-family: 'Copperplate';
  font-size: 48px;
}

.root1 p{
  letter-spacing: 0.1em;
}

.root2{
  background-color: #93B793;
}

.root3{
  background-image: image-url('mukoyama.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2{
  margin-top: 2.5em;
  margin-bottom: .5em;
  padding-bottom: .3em;
  border-bottom: solid 3px #eee;
  font-size: 1.7em;
  font-weight: normal;
  line-height: 1.2;
}

h3{
  font-size: 1.7em;
  font-weight: normal;
}
