<div class="root1">
  <div class="container">
    <% if notice %>
      <div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <h1>Project Akimoto</h1>
    <p>画像付き商品マスタ</p>
  </div>
</div>
