<footer>
  <div class="container">
    <a href="https://github.com/lumbermill/takachiho">GitHub</a>
    &nbsp;
    <a href="https://lmlab.net">LmLab.net</a>
    &nbsp;
    <a href="http://www.lumber-mill.co.jp">LumberMill, Inc.</a>
  </div>
</footer>
