<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <p>
        <a href="https://github.com/lumbermill/takachiho">GitHub</a>
        &nbsp;
        <a href="https://lmlab.net">LmLab.net</a>
        &nbsp;
        <a href="http://www.lumber-mill.co.jp">LumberMill, Inc.</a>
      </p>
      </div>
    </div>
  </div>
</footer>
