<% if @mail_logs.count == 0 %>
  <p>通知の発信履歴はありません。</p>
<% else %>
  <table class="table">
    <% @mail_logs.each do |m| %>
    <% a = Address.find(m.address_id) %>
    <tr>
      <td><%= a ? a.mail : m.address_id %></td>
      <td><%= m.time_stamp %></td>
      <td><%= m.delivered %></td>
    </tr>
    <% end %>
  </table>
<% end %>
