<% content_for :title, "参加方法" %>

<h2>ウェブ編</h2>

<h3>アカウントを作成する</h3>

<h3>トークンを手にいれる</h3>

<h3>通知設定する</h3>


<h2>ハードウェア編</h2>
<h3>必要なもの</h3>
<p>


</p>
<h3>組み立て方</h3>


<h3>データの送信方法</h3>

<h3>受信データを確認する</h3>
