<% content_for :title, "端末リース契約のご案内" %>
<div class="row">
  <div class="col-sm-8">
<h2>概要</h2>
<p>
本プロジェクト(mukoyama)のサーバにデータ送信・蓄積が可能な端末(RaspberryPiやArduino)を貸与します。
テスト参加者は、ウェブ上の管理画面から設置されたセンサの測定値グラフ・カメラの撮影画像を随時確認することができます。
メール(電話/LINEは調整中)でアラートを受け取ることも可能で、これらの設定代行も行います。
</p>

<h2>提供するもの</h2>
<ul>
  <li>必要な機器の貸与（プログラムインストール済み）</li>
  <li>現地導入の支援</li>
  <li>ウェブ側の設定（閾値や通知先アドレスなど）変更代行</li>
  <li>メールでの問い合わせやご要望の受付</li>
  <li>（機器が故障した場合）交換品の発送</li>
</ul>

<h2>金額</h2>
<p>月額 20,000円(税込:21,600円)</p>

<h2>注意事項等</h2>
<ul>
  <li>Raspberry PiまたはArduinoを最大2セット貸与致します。
  同一構成を2セット作って1つを予備として持つ形を推奨致しますが、同時に別々の箇所に設置頂いても構いません。</li>
  <li>多数の機器を利用されたい場合はご相談ください。</li>
  <li>機器が故障した場合、代替品の発送に数週間~1ヶ月程度かかることがあります。</li>
  <li>設置工事は原則として、お客様側での実施となります。必要な周辺環境や設置スペース等の事前相談を行います。</li>
  <li>Wifiにて接続する場合、事前にSSIDとPASSWORDをお知らせ頂く必要があります。社内の基幹イントラネットとは別のネットワークをご用意されることを推奨します。
  ファイアウォール等が設置してある場合、通信が出来ないことがあります。</li>
  <li>電話窓口はございません。メール・チャット(Slack)または弊社問い合わせフォームからご連絡ください。</li>
  <li>お客様の元へ機器が届き最初に疎通確認出来た日の翌月が契約開始月、全ての機器が弊社に返送された月が契約終了月とします。日割り計算は致しません。</li>
  <li>月額の利用料は、前月末日までに指定口座にお振込ください(手数料はお客様でご負担願います)</li>
  <li>本プロジェクトで利用しているプログラムのコードは全て公開しています。
    機器は返送頂きますが、ソフトウェアは契約終了後も（接続先を変更すれば）自由にお使い頂けます。改造し再販する場合は、ライブラリ等のライセンス条項に留意ください。</li>
  <li>画像は3ヶ月間、温湿度データやその他のログは1年間保存し、契約終了後は直ちに抹消するものとします。バックアップや過去の記録が必要な場合、データのダウンロード機能を用いてご自身で管理ください。</li>
  <li>天災その他弊社の責に依らないネットワーク等のトラブルによるデータの欠損や通知の失敗については、責任を負わないものとします。</li>
  <li>データ欠損や通知の失敗によって副次的に発生したいかなる損害に対しても責任を負うことはできません。</li>
  <li>上記は、申し込み時に交わすリース契約書の内容の抜粋です。万が一、契約書の内容と齟齬がある場合、契約書の内容を優先致します。</li>
</ul>

<p>
  多くの課題を汎用的に、そして廉価に解決できる仕組みを目指しています。機能の改善要望やお気付きの点はお気軽にお知らせください。
  即時に対応したい課題がある場合は、作業員の実働工数に応じた有償対応を承ります。
</p>
<h2>お申し込み・お問い合わせ</h2>

<div class="row">
  <div class="col-sm-8">
    <p><a href="http://www.lumber-mill.co.jp/contact.php">株式会社ランバーミル</a></p>
    <p>不明な点はお気軽にご相談ください。Paypalからのお申込みの場合のみ、2週間の試用期間がございます（2週間以内に解約頂ければ料金は発生致しません）。</p>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <%= render "paypal" %>
    </div>
  </div>
</div>

</div>
</div>
