<!-- もうちょっと事例が増えてから公開 -->
<% content_for :title, "導入事例" %>
<div class="alert alert-warning">
このプロジェクトはα版の運用中です。
ユーザの登録やデータ送信は自由に行って頂けますが、正式版移行時の互換性は保証されません。検証用途にのみご利用ください。
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Case1</h3>
    <p>ハウス内にセンサーを取り付け、一定の温度まで気温が上昇したら農家さんにメールが届くようになっています。</p>
  </div>
  <div class="col-sm-3">
  <%= image_tag 'about.png', class: 'img img-responsive img-rounded' %>
  </div>
  <div class="col-sm-3">
  <%= image_tag 'IMG_0983.JPG', class: 'img img-responsive img-rounded' %>
  <br/>
  </div>
</div>
