<%= form_for(train_datum) do |f| %>
  <% if train_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(train_datum.errors.count, "error") %> prohibited this train_datum from being saved:</h2>

      <ul>
      <% train_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
